/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mindset-blocks-service-posts nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 1rem;
	padding: 1rem;
	border: 4px double var(--wp--preset--color-accent);

	a {
		flex: 1 1 calc(25% - 1rem);
		text-align: center;
	}
}
